<!-- {% assign disqus = site.disqus | default:site.disqus_shortname %} -->

{% if site.valine.enable %}
<div id="disqus_thread"></div>
<script>
  !function(w, d){
    if(d.getElementById("disqus_thread")){
      w.disqus_config = function disqusConfig() {
        this.page.url = w.location.href;
        this.page.title = d.title;
      };
      w.loadJSDeferred(d.getElementById("_hrefav").href + '/static/js/3.0.4/av-min.js');
    }
  }(window, document);

  (function(d, s) {
    var j, e = d.getElementsByTagName('footer')[0];
    if (typeof LivereTower === 'function') { return; }
    j = d.createElement(s);
    j.src = 'https://unpkg.com/valine/dist/Valine.min.js';
    j.async = true;
    e.insertBefore(j, e);
  })(document, 'script');

  var appkey = '{{ site.valine.appkey }}',
    appid = '{{ site.valine.appid }}';
  new Valine({
    av: AV,
    el: '#disqus_thread',
    app_id: appid,
    app_key: appkey,
    verify: false,
    avatar: 'mm',
    placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!'
  })
</script>
{% endif %}
